.results{
  background: rgba($second-color, 0.7);
  color: white;
  text-align: center;
  padding: 2em 0;
  font-weight: 700;
}

.results__amountFrom{
  font-size: 1.2em;
}

.results__amountTo{
  font-size: 5em;
}

.results__conversion{
  font-size: 1.2em;
  margin: 0.5em 0;
}

.results__date{
  text-align: right;
  margin-top: 2em;
}